
.silvercart-product-list-table {
    
}
.silvercart-product-list-table tr:hover a {
    text-decoration: underline;
    color: #429bb9;
}
.silvercart-product-list-table tr:hover .silvercart-button a,
.silvercart-product-list-table tr:hover .silvercart-button-small a {
    text-decoration: none;
    color: #000;
}
.silvercart-product-list-table a {
    display: block;
}

.type-text.big input {
    font-size: 18px;
}